<div class="parallax">

<div class='card auto-height' id ='dashboard_card'>
<h2 class= "card-header light-blue text-uppercase text-center" id="header_card"> Confirm booking </h2>

<ul>
<li><%= @offer.court.name %> (<%= @offer.court.address %>)</li>

<li><%= @offer.match_at.strftime("%A") %>, <%= @offer.match_at.strftime("%H") %>:00</li>


</ul>

<%= simple_form_for [@offer, @booking] do |f| %>
  <div class ="text-center">
  <%= f.submit "Confirm booking",:class => "create button_index btn btn-lg btn-primary" %>
  </div>
<% end %>
</div>
</div>

