<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "tennislogo3.png" %>
    <% end %>

    <div class= "app_name">
      <h2 class="site-name">One Raquet</h2>
    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <!-- <label class="checkbox-button">
  <input type="checkbox"> -->

  <% if user_signed_in? %>
  
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete , class: "btn btn-primary nav-btns"%>

  <%= link_to "Home", root_path , class: "btn btn-primary nav-btns"%>

  <%= link_to "Dashboard", dashboard_path , class: "btn btn-primary nav-btns"%>

  
  
  <% else %>

  <%= link_to  "Log In", new_user_session_path, class: "btn btn-primary nav-btns" %>

  <%= link_to "Home", root_path , class: "btn btn-primary nav-btns"%>
  
  <%= link_to "Dashboard", dashboard_path , class: "btn btn-primary nav-btns"%>

  
  <% end %>
  </div>

  </div>


</div>
