
<a href="https://www.lawnstarter.com/blog/wp-content/uploads/2015/03/grass-small.png" id="home_img"></a>


<h1 class="ready">Ready to play?</h1>

<div class="main">
  <div class="card">
  <h4>Please select your details:</h4>
  <p class="location_text">Enter a court address:</p>
  <div class="form-items">
    <p id="fm-control">
  <%= form_tag offers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an offer"
    %>
  </p>
  <div id="flex">Select start date & time:</p>
<!--
    <div class="inline-block">

    <div class="today"><button type="button" class="btn btn-primary">Today</button></div>

    <div class="tomorrow"><button type="button" class="btn btn-primary">Tomorrow</button></div>

    <div class="overmorrow"><button type="button" class="btn btn-primary">overmorrow</button></div>

    </div>
 -->

     <label class="checkbox-button">
      <input type="checkbox">
      <div>Today</div>
    </label>

    <label class="checkbox-button">
      <input type="checkbox">
      <div>Tomorrow</div>
    </label>

    <label class="checkbox-button">
      <input type="checkbox">
      <div>Overmorrow</div>
    </label>

    <p class="start_date">
    <%= datetime_field_tag :start_date,
      class: "form-control",
      placeholder: "Select start date"
     %>
    </div>

    <p>Select end date & time:</p>
    <p class="end_date">
    <%= datetime_field_tag :end_date,
      class: "form-control",
      placeholder: "Select end date"
     %>
     </p>
     <input type="text" class="js-range-slider" name="my_range" value="" />
      <p class="submit-button">
      <%= submit_tag "submit", class: "btn btn-primary" %>
      </p>

  <% end %>
  </div>
  </div>
</div>
