
<a href="https://www.lawnstarter.com/blog/wp-content/uploads/2015/03/grass-small.png" id="home_img"></a>


<div class="banner">
  <div class="banner-content text-center">
    <h1>KEEN ON PLAYING TENNIS?</h1>
    <p>One Racquet finds a match for you</p>

    <%= link_to "Find out more", "#more", class: "btn btn-lg btn-primary"  %>
    <%= link_to "Start matching", "#dashboard_card", class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<div class="blue-wrapper">
  <div class='card auto-height' id ='dashboard_card'>
    <h2 class= "card-header light-blue text-uppercase text-center" id="header_card"> Ready to play? </h2>
    <div class="card-body">
      <h4>Search for a game:</h4>

      <div class="form-items">
        <%= form_tag offers_path, method: :get do %>
          <div class="form-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Where do you want to play?" %>
          </div>

          <label class="checkbox-button">
            <input type="checkbox" name= "today">
            <div id = "date_box">
              <%= icon("far", "square") %>
              <%= icon("far", "check-square") %>
              <%= Date.today.strftime("%a") %>
            </div>
          </label>

          <label class="checkbox-button">
            <input type="checkbox" name= "tomorrow">
            <div id = "date_box">
              <%= icon("far", "square") %>
              <%= icon("far", "check-square") %>
              <%= (Date.today+1).strftime("%a") %>
            </div>
          </label>

          <label class="checkbox-button">
            <input type="checkbox" name= "overmorrow">
            <div id = "date_box">
              <%= icon("far", "square") %>
              <%= icon("far", "check-square") %>
              <%= (Date.today+2).strftime("%a") %>
            </div>
          </label>
          <br>
          <br>

          <input type="text" class="js-range-slider" name="my_range" value="" />

          <br>

          <button type="submit" id="submit_button" class="btn btn-primary">Find your match!</button>

        <% end %>
      </div>

    </div>
  </div>



  <div id="more-info" class="container fullscreen-element">
    <h2>New to One Raquet?</h2>
    <ul>
      <li>Finds games that fits with your schedule</li>
      <br>
      <li>Set your own matches</li>
      <br>
      <li>Books courts automatically with registered partners</li>
    </ul>
  </div>
</div>
