
<a href="https://www.lawnstarter.com/blog/wp-content/uploads/2015/03/grass-small.png" id="home_img"></a>


<h1 class="ready">Ready to play?</h1>

<div class="main">
  <div class="card" id="home-card">
  <h4>Please select your details:</h4>
  <p class="location_text">Enter a court address:</p>
  <div class="form-items">
    <p id="fm-control">
  <%= form_tag offers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "e.g., Kreuzeberg, Berlin"
    %>
  </p>
  <div id="flex">Select dates:</p>

    <label class="checkbox-button">
      <input type="checkbox" name= "today">
      <div><%= Date.today.strftime("%A") %></div>
    </label>

    <label class="checkbox-button">
      <input type="checkbox" name= "tomorrow">
      <div><%= (Date.today+1).strftime("%A") %></div>
    </label>

    <label class="checkbox-button">
      <input type="checkbox" name= "overmorrow">
      <div><%= (Date.today+2).strftime("%A") %></div>
    </label>

    <p>Select time range:</p>

     <input type="text" class="js-range-slider" name="my_range" value="" />
      <p class="submit-button">
      <%= submit_tag "submit", class: "btn btn-primary" %>
      </p>

  <% end %>
  </div>
  </div>
</div>
