<!-- <h1> This working  minutes</h1> -->
<div class= 'parent-box match-cards' id = "smaller">
  <div class = 'box' style="z-index: 0" id="no_offer_available">
    <h1 ><%= link_to "No suitable match? Click here to create an Offer!", new_offer_path %></h1>
  </div>
  <% @offer_filt_offer = @offer_filt_order.reverse.first(5) %>
  <% @offer_filt_offer.each do |offer| %>
    <div data-booking-path="<%= new_offer_booking_path(offer) %>" class="match-card draggable-box">
      <div class="match-card-image" style="background-image: url('<%= cl_image_path offer.court.photo %>');">
        <div class="match-card-title"><%= offer.court.name %></div>
      </div>
      <div class="match-card-info">
        <p class="location"><%= offer.court.address %></p>
        <p class="drive"><%= offer.distance %> min drive</p>
        <p class="time"><%= offer.match_at.strftime("%A") %>, <%= offer.match_at.strftime("%H") %>:00</p>
        <div class="buttons">
          <div class="reject">
            <i class="far fa-times-circle"></i>
          </div>
          <div class="accept">
            <i class="far fa-check-circle"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
