<h1 id='header' class = 'text-center'>Welcome to your dashboard, <%= @user.name %></h1>

<div class="parallax">


  


      <div class='card auto-height' id ='dashboard_card'>
        <h2 class= "card-header light-blue text-uppercase text-center" id="header_card"> Your Offers: </h2>
        <% if current_user.offers.select{ |offer| !(offer.booked?) }.empty? %>
        <p> No offers in list <p>
          <% else %>
          <% current_user.offers.select{ |offer| !(offer.booked?) }.each do |offer| %>
          <div class="card-horizontal">

            <div class="img-square-wrapper">
              <%= cl_image_tag offer.court.photo, id: "img_card" %>
            </div>

            <div class="list-group list-group-flush">
              <ul class="list-group-item list-unstyled">
                <li><strong><%= offer.court.name %></strong> </li>
                <li> <%= offer.match_at.strftime("%A") %>, <%= offer.match_at.strftime("%H") %>: 00 </li>
                <li> <%= offer.court.address %> </li>
              </ul>
            </div>

          </div>
          <% end %>
          <% end %>
        </div>

      <!-- HIER FOLGT DAS ZIELFORMAT. Dh Bild ausgefüllt auf der linken Seite mit Details auf der rechten. Tenniscourt.name fett gedruckt, ansonsten ist die font-size die Gleiche. To do: wie mach ich einen line-break ohne die durch die <br> tags entstehenden Abstände? Sobald Text kleiner und formatiert ist, passt sich Bild an. Nächstes ToDo: Bilder im Seeding hinzufügen. ggf. zeilenumbruch in addresse, damit PLZ unterhalb der Straße ist? -->

      <div class='card auto-height' id ='dashboard_card'>
        <h2 class= "card-header light-blue text-uppercase text-center" id="header_card"> Your Bookings: </h2>

        <% if current_user.bookings.empty? %>
        <p> No bookings in list <p>
          <% else %>

          <% current_user.bookings.each do |booking| %>
          <div class="card-horizontal">

            <div class="img-square-wrapper">
              <%= cl_image_tag booking.offer.court.photo, id: "img_card", width: 90, height: 90%>
            </div>

            <div class="list-group list-group-flush">
              <ul class="list-group-item list-unstyled">
                <li><strong><%= booking.offer.court.name %></strong></li>
                <li><%= booking.offer.match_at.strftime("%A") %>, <%= booking.offer.match_at.strftime("%H") %>:00</li>
                <luli><%= booking.offer.court.address %></li>
              </ul>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>



</div>
