<h1 id='header' class = 'text-center'>Welcome to your dashboard, <%= @user.name %></h1>

<div class='container' id ='container_offers'>

<h2 class= "align-items"> Your Offers </h2>

<ol>
  <% @user.offers.each do |offer| %>
  <% if offer.booked? == false %>
  <li>
    <strong> <%= offer.court.name %> </strong>
      <p><%= offer.match_at %></p>
    <%= offer.court.address %>
  </li>
  <% end %>
<% end %>
</ol>
</div>

<div class='container' id ='container_bookings'>

<h2 class= "align-items"> Your Bookings: </h2>
<% booking_array = [] %>
<% @user.offers.each do |offer| %>
<% if offer.booked? == true %>
<% booking_array << offer %>
<% end %>
<% end %>

<% if current_user.bookings.empty? %>
  <p> No bookings in list <p>
<% else %>
  <ol>
    <% current_user.bookings.each do |booking| %>
      <li>
        <%= booking.offer.match_at %>
        <strong> <%= booking.offer.court.name %> </strong>
        <%= booking.offer.court.address %>
      </li>
    <% end %>
  </ol>
<% end %>
