<h1>Welcome to your dashboard, <%= @user.name %></h1>

<h2 class= "align-items"> Here's a list of your OFFERS: </h2>

<ol>
  <% @user.offers.each do |offer| %>
  <% if offer.booked? == false %>
  <li>
    <%= offer.date %>
    <%= offer.time %>
    <strong> <%= offer.court.name %> </strong>
    <%= offer.court.address %>
  </li>
  <% end %>
<% end %>
</ol>

<h2 class= "align-items"> Here's a list of your BOOKINGS: </h2>
<% booking_array = [] %>
<% @user.offers.each do |offer| %>
<% if offer.booked? == true %>
<% booking_array << offer %>
<% end %>
<% end %>

<% if current_user.bookings.empty? %>
  <p> No bookings in list <p>
<% else %>
  <ol>
    <% current_user.bookings.each do |booking| %>
      <li>
        <%= booking.offer.date %>
        <%= booking.offer.time %>
        <strong> <%= booking.offer.court.name %> </strong>
        <%= booking.offer.court.address %>
      </li>
    <% end %>
  </ol>
<% end %>
