<h1 id='header' class = 'text-center'>Welcome to your dashboard, <%= @user.name %></h1>

<div class='card' id ='dashboard_card'>

<h2 class= "align-items"> Your Offers </h2>

<ul class="list-group list-group-flush">
  <% @user.offers.each do |offer| %>
  <% if offer.booked? == false %>
  <li class="list-group-item">
    <strong> <%= offer.court.name %> </strong>
      <p><%= offer.match_at %></p>
    <%= offer.court.address %>
  </li>
  <% end %>
<% end %>
</ol>
</div>

<div class='card' id ='dashboard_card'>

<h2 class= "align-items"> Your Bookings: </h2>

<% if current_user.bookings.empty? %>
  <p> No bookings in list <p>
<% else %>
  <ul class="list-group list-group-flush">
    <% current_user.bookings.each do |booking| %>
      <li class="list-group-item">
        <%= booking.offer.match_at %>
        <strong> <%= booking.offer.court.name %> </strong>
        <%= booking.offer.court.address %>
      </li>
    <% end %>
  </ul>
<% end %>
